<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'web_site/style.css' %}">
<html lang="fr">
<head>
   <title>Eco People</title>
</head>
<body>
<header>Eco People</header>
    <nav>
       <ul>
            <li><a href="">Accueil</a></li>
            <li><a href="">L'idée</a></li>
            <li><a href="">Le projet</a></li>
            <li><a href="">L'équipe</a></li>
            <li><a href="">Les prochaines étapes</a></li>
       </ul>
   </nav>
<footer>footer</footer>
</body>
</html>