# Byte-compiled / optimized / DLL files                                                                                                                                                                             
__pycache__/                                                                                                                                                                                                        
*.py[cod]                                                                                                                                                                                                           
*$py.class
# Ton dossier venv 
shinY_new_env